@{
    ViewData["Title"] = "Home Page";
}

@section Styles {
    <link rel="stylesheet" href="~/css/index-style.css" asp-append-version="true" />
}

<section class="d-flex flex-column justify-content-center align-items-center text-center">
    <div class="mb-4">
        <h1>Generative AI Art</h1>
    </div>
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-md-10">
                <p>
                    <strong>Artificial intelligence visual art</strong>, or <strong>AI art</strong>, is visual artwork generated (or enhanced) through the use of artificial intelligence (AI) programs. Automated art has been created since ancient times. The field of artificial intelligence was founded in the 1950s, and artists began to create art with artificial intelligence shortly after the discipline was founded (Wikipedia, 2025).
                </p>
            </div>
        </div>
    </div>
</section>
