section {
    background: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url(../images/homepage1.jpg);
    background-position: center center;
    background-size: cover;
    height: 66vh;
    width: 100vw;
}

h1 {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1em;
    font-size: 3rem;
    font-weight: bold;
    font-family: 'Arial Black', Arial, sans-serif;
}

p {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 1em;
}
